// Specific CSS for your home-page

body {
  margin-bottom: 3rem;
  cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(https://ani.cursors-4u.net/symbols/sym-9/sym837.png), auto !important;
  ::selection {
    background: #FBAACD;
  }

}
h1 {
  font-size: 400%;
  // display: flex;
  text-align: center;
  margin-top: 21px;
  font-family: Luxurious Script;


}

p{

  text-align: center;
  margin-top: 25%;
  margin: 20px;
  font-family: Andale Mono, Roboto Mono, monospace;
}
.intro{
  max-width: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2,h3{
  font-family: Luxurious Script;
  text-align: center;
  margin-top: 21px;
  font-size: 200%;


}

// body{

//   cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),auto;

// }
ul{
  // add roboto mono or make the ul monospace?
  font-family: Andale Mono, monospace;
  text-align:justify;
  max-width: 500px;
  margin:auto;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 16px;
}
h3{
  margin-bottom: 21px;
}
